<% @config['domain'] = %w{ platinum prod }.include?(@config['id']) ? '-service-example.scivulcan.com' : '' -%>
DEPLOY_ENV="<%= @config['id'] %>"
MAVEN_ARTIFACT_ID="service-example"
SERVICE_NAME="org.czi.kb.service-example.ServiceExample"
SERVICE_VERSION="0.0.1-PROD"
ADMIN_PORT=8335
REST_PORT=8080
CONFIG_GATE=v1/config/property
UPLOAD_GATE=v1/services/uploadLatestVersion
START_GATE=v1/services/startService
HEALTH_GATE=v1/health/cluster
TEST_GATE="v1/repository/ServiceTestResult?query=serviceName==$SERVICE_NAME"
MAJOR_VERSION=0
MINOR_VERSION=1
MAXPERNODE=1
INSTANCES=1
TYPE="DISTRIBUTED"
SLEEPTIME=10
MAXWAIT=120
TESTMAXWAIT=120
CONFIG_FILE=tasks/config/silver-test-config.yaml
SERVICE_JAR=service/target/service-$MAVEN_ARTIFACT_ID-$SERVICE_VERSION-exec.jar
TEST_JAR=testing/target/testing-$MAVEN_ARTIFACT_ID-$SERVICE_VERSION.jar
RATO_SERVER=meta-data-<%= @config['id'] %><%= @config['domain'] %>
CONFIG_SERVER=meta-config-1